<div class="main shops-index">
  <div class="container">
    <% @shops.each do |shop| %>
      <div class="shops-index-item">
        <%= link_to(shop.shop_name, "/admin/shops/#{shop.id}.html") %>
      </div>
    <% end %>
  </div>
</div>