<div class="main shopws-new">
  <div class="container">
    <h1 class="form-heading">新規登録</h1>
    <%= form_tag("/shops", :method => :put) do %>
      <div class="form">
        <div class="form-body">
          <!-- バリデーションエラー -->
          <% @shop.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <textarea name="name"><%= @shop.name %></textarea>
          <input type="submit" value="登録">
        </div>
      </div>
    <% end %>
  </div>
</div>