<div class="main shopws-new">
  <div class="container">
    <h1 class="form-heading">新規登録</h1>
    <%= form_tag("/shops/create") do %>
      <div class="form">
        <div class="form-body">
          <textarea name="name"></textarea>
          <input type="submit" value="登録">
        </div>
      </div>
    <% end %>
  </div>
</div>