<div class="main shops-show">
  <div class="container">
    <div class="shops-show-item">
      <p>
        <%= @shop.name %>
      </p>
      <div class="post-time">
        <%= @shop.created_at %>
      </div>
    </div>
  </div>
</div>