<div class="main shops-show">
  <div class="container">
    <div class="shops-show-item">
      <p>
        <%= @shop.shop_name %>
      </p>
      <div class="shop-time">
        <%= @shop.created_at %>
      </div>
      <div class="shop-menus">
        <%= link_to("編集", "/admin/shops/#{@shop.id}/edit.html") %>
        <%= link_to("削除", "/admin/shops/#{@shop.id}.html", {method: "delete"}) %>
      </div>
    </div>
  </div>
</div>