<header>
  <div class="header-logo">
    <a href="/">Find Wifi</a>
  </div>
  <ul class="header-menus">
    <a href="/about">Find Wifiとは</a>
  </ul>
</header>

<div class="about-main">
  <h2>Find Wifiとは</h2>
  <p>
    近くのWi-Fiスポットを検索することができます。
  </p>
</div>