<header>
  <div class="header-logo">
    <a href="/">Find Wifi</a>
  </div>
  <ul class="header-menus">
    <a href="/about">Find Wifiとは</a>
  </ul>
</header>

<div class="main top-main">
  <div class="top-masseges">
    <h2>Find WiFi</h2>
    <p>あなたが使えるWi-Fiが見つかる</p>
  </div>
</div>
