<div class="main reviews-index">
  <div class="container">
    <% @reviews.each do |review| %>
      <div class="reviews-index-item">
        <%= review.content %>
        <%= link_to("削除", "/reviews/#{review.id}", {method: "delete"}) %>
      </div>
    <% end %>
  </div>
</div>
