<div class="main reviews-index">
  <div class="container">
    <% @reviews.each do |review| %>
      <div class="reviews-index-item">
        <%= review.comment %>
        <%= link_to("削除", "/admin/reviews/#{review.id}.html", {method: "delete"}) %>
      </div>
    <% end %>
  </div>
</div>
